:root {
    /** primary **/
    --color-primary: #503E9D;
    --color-primary-rgb: 56, 128, 255;
    --color-primary-contrast: #ffffff;
    --color-primary-contrast-rgb: 255, 255, 255;
    --color-primary-shade: #7be495;
    --color-primary-tint: #56c596;
    --color-primary-title: #205072;
    --color-primary-card-shade: #329D9C36;
    --color-primary-border: #cde0c9;
  
  
    /** secondary **/
    --color-secondary: #FB6D3A;
    --color-secondary-rgb: 61, 194, 255;
    --color-secondary-contrast: #ffffff;
    --color-secondary-contrast-rgb: 255, 255, 255;
    --color-secondary-shade: #6882a0;
    --color-secondary-tint: #cde0c9;
  
    /** tertiary **/
    --color-tertiary: #47cacc;
    --color-tertiary-rgb: 82, 96, 255;
    --color-tertiary-contrast: #ffffff;
    --color-tertiary-contrast-rgb: 255, 255, 255;
    --color-tertiary-shade: #cd84d4;
    --color-tertiary-tint: #e7b7c8;
  
    /** success **/
    --color-success: #7be495;
    --color-success-rgb: 45, 211, 111;
    --color-success-contrast: #ffffff;
    --color-success-contrast-rgb: 255, 255, 255;
    --color-success-shade: #28ba62;
    --color-success-tint: #42d77d;
  
    /** warning **/
    --color-warning: #ffcf5c;
    --color-warning-rgb: 255, 196, 9;
    --color-warning-contrast: #000000;
    --color-warning-contrast-rgb: 0, 0, 0;
    --color-warning-shade: #e0ac08;
    --color-warning-tint: #ffca22;
  
    /** danger **/
    --color-danger: #f70510;
    --color-danger-rgb: 235, 68, 90;
    --color-danger-contrast: #ffffff;
    --color-danger-contrast-rgb: 255, 255, 255;
    --color-danger-shade: #cf3c4f;
    --color-danger-tint: #ed576b;
  
    /** dark **/
    --color-dark: #222428;
    --color-dark-rgb: 34, 36, 40;
    --color-dark-contrast: #ffffff;
    --color-dark-contrast-rgb: 255, 255, 255;
    --color-dark-shade: #1e2023;
    --color-dark-tint: #383a3e;
  
    /** medium **/
    --color-medium: #92949c;
    --color-medium-rgb: 146, 148, 156;
    --color-medium-contrast: #ffffff;
    --color-medium-contrast-rgb: 255, 255, 255;
    --color-medium-shade: #808289;
    --color-medium-tint: #9d9fa6;
  
    /** light **/
    --color-light: #f4f5f8;
    --color-light-rgb: 244, 245, 248;
    --color-light-contrast: #000000;
    --color-light-contrast-rgb: 0, 0, 0;
    --color-light-shade: #d7d8da;
    --color-light-tint: #f5f6f9;
  
    /** header colors **/
    --color-header: #205072;
  
    /** icon colors **/
    --color-icon: #626264;
    --white-background: #fff;
    --gray-background: #f7f7f7;
    --color-nav: #F7F7F7;
    --font-color: #182135;
  }