.card {
    border-radius: 20px;
    padding: 0px;
    position: relative;
    transition-duration: 200ms;
    border: none !important;
}

.card .content p {
    color: var(--font-color);
    padding-top: 10px;
    font-size: 14px;
}

.img {
    transition-duration: 200ms;
    width: 100%;
    height: auto;
    top: -50px;
    border-radius: 20px;
    //   box-shadow: 1px 2px 3px #999999;
}
.chip {
    width: 73px;
    height: 24px;
    border-radius: 4px;
    font-size: 11px;
    text-align: center;
    padding: 3px;
}
.chip.primary {
    background: rgba(80, 62, 157, 0.1);
    color: var(--color-primary);
}
.chip.secondary{
    background: rgba(251, 109, 58, 0.1);
    color: var(--color-secondary);

}
.rest-name{
    font-size: 16px;
    font-weight: 700;
}