.category-item {
    width: 44px;
    height: 44px;
    background: #f7f7f7;
    padding: 7px;
    border-radius: 12px;
}
.category-title {
    font-size: 16px;
    color: var(--font-color);
    font-weight: 700;
}
